.wrapper {
  height: 100%;
  width: 370px;
}

.groupedContainer {
  height: calc(100% - 56px);
}

.wordList {
  height: 100%;
  flex: 1 0 auto;
}

.itemCurrent {
  color: var(--color-blue-600);
  font-weight: 600;
}
