.wrapper {
  height: 100%;
  width: 370px;
}

.groupedContainer {
  height: 100%;
}

.wordList {
  height: 100%;
  width: 300px;
}

.itemCurrent {
  color: var(--color-blue-600);
  font-weight: 600;
}
