.keyboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 990px;
  padding-top: 40px;
  width: 100%;
}

.keyLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
